@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
body{
    font-family: 'Quicksand', sans-serif;
}
.team{
    padding:75px 0;
}
h6.description{
    font-weight: bold;
    letter-spacing: 2px;
    color: #999;
    border-bottom: 1px solid rgba(0, 0, 0,0.1);
    padding-bottom: 5px;
}
.profile{
    margin-top: 25px;
}
.profile h1{
    font-weight: normal;
    font-size: 20px;
    margin:10px 0 0 0;
}
.profile h2{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 5px;
}
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
